#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  background-color: tomato;
}
